main {
  width: 100%;
}

.dog-list-header {
  display: flex;
  align-items: stretch;
  background: #FFF;
  height: 60px;
  margin-bottom: 2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.header-controls {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  button {
    height: 100%;
    background: none;
    border: 0;
    padding: 0;
    position: relative;
    transition: all 0.1s ease-in-out;
  }
  button::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 0%;
    background: #1a130c;
    bottom: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
  }
  button:hover::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background: #1a130c;
    bottom: 0;
    left: 0;
  }
  button.active {
    font-weight: 500;
    color: #ba8512;
  }
  button.active::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background: #ba8512;
    bottom: 0;
    left: 0;
  }
}

.header {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;

  h2 {
    margin: 0;
    color: #1a130c;
  }
}
