.login-btn {
  padding: 0;
  border: 0;
  margin: none;
  background: 0;
  display: flex;
  align-items: center;
  position: relative;
}

.logout-btn {
  background: none;
  border: 0;
  border: 0;
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
  color: #0d0a06;
  cursor: pointer;
}
.login-btn svg {
  cursor: pointer;
}

.form-container {
  overflow: hidden;
  min-width: 330px;
  height: auto;
  border-radius: 6px;
  top: 52px;
  right: -30px;
  position: absolute;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.95);
  z-index: 4;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  backdrop-filter: blur(2px);

}
